$blue-color: #5267df;
$solomon-color: #fa5959;
$dark-grey-color: #242a45;
$light-grey-color: #9194a2;


@mixin btn {
padding: 10px 16px 10px 17px;
font-weight: 500;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.25px;
color: #FFFFFF;
background-color: $blue-color;
border: solid 1px transparent;
outline: none;
box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
border-radius: 5px;
cursor: pointer;
letter-spacing: 0.25px;
white-space: nowrap;
&:hover {
  color: $blue-color;
  background-color: white;
  border: solid 1px $blue-color;
}
}